*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* //////////////////////Nav////////////////////// */

nav{
    height: 76px;
    background-color: #92dbfe;
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav h1{
    font-family: 'Amaranth', sans-serif;
    font-size: 35px;
    padding: 10px 0px 0px 3px;
    color: white;
}

nav ul{
    padding-top: 26px;
}

nav ul li{
    float: right;
    list-style-type: none;
    margin-left: 24px;
    font-size: 17px;
    font-weight: bold;
}

.logo{
    width: 75px;
    height: 75px;
    margin-left: 37px;

}

a{
    text-decoration: none;
    color: white;
}
.logotipo{
    display: flex;
}
/* .navegacao{
    display: flex;
    justify-content: flex-end;
} */

/* //////////////////////HEADER////////////////////// */

header{
    
        padding-top: 197px;
       
    
        /* background-image: url('../img/background1.png');  */
        background-size: 100% auto;
        background-repeat: no-repeat;


}


.slogan{
    color: black;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 40px; 
}



.btn{
    padding: 15px 10px;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-left: 95px;

}

.btn-verde{
    background-color: #1ed954;
    width: 310px;
    border: none;
}
.btn-branco{
    
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px white;
    width: 310px;
    margin-left: 10px;
    
    
}
