*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* //////////////////////Nav////////////////////// */

nav{
    height: 76px;
    background-color: #6dc8f3;
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 10px #424242;
}

nav h1{
    font-family: 'Amaranth', sans-serif; 
    font-size: 35px;
    padding: 10px 0px 0px 3px;
    color: white;
}

nav ul{
    padding: 26px 15px;
}

nav ul li{
    color: white;
    display: inline;
    list-style-type: none;
    margin-left: 24px;
    font-size: 17px;
    font-weight: bold;
}

.logo{
    width: 75px;
    height: 75px;
    margin-left: 37px;

}

nav a{
    text-decoration: none;
    color: white;
}
.logotipo{
    display: flex;
}
/* .navegacao{
    display: flex;
    justify-content: flex-end;
} */

/* //////////////////////HEADER////////////////////// */

header{
    padding-top: 87px;
    padding-bottom: 40px;
    background-image: url('../img/cidade_cel.jpg'); 
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: block;
}


.slogan{
    color: black;
    font-size: 60px;
    padding-top: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.botoes-header{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30%;
    /* height: 443px; */
}


.btn-index{
    padding: 15px 10px;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-verde{
    background-color: #1ed954;
    width: 310px;
    border: none;
    
}

.btn-branco{
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px royalblue;
    color: royalblue;
    width: 310px;
}

/* //////////////////////SECTION1////////////////////// */

.section1{
    height: 500px;
    background-color: #66ccff;
    display: flex;
    padding: 50px 87px 50px 50px;
}
.text-1{
    padding: 50px 40px 0px 50px;
}
.text-1 h3{
    /* color: white; */
    font-size: 50px;
    font-weight: bold;
}
.text-1 h4{
    padding-top: 22px;
    /* color: white; */
    font-weight: bold;
    font-size: 30px;
}
.text-1 p{
    padding-top: 10px;
    padding-right: 85px;
    
}

/* //////////////////////FOOTER////////////////////// */

footer{
    height: 340px;
    background-color: black;
    padding: 72px 30px 0px 135px;
    /* display: flex;Como quero que fique apenas o texto em diplay irei criar um classe que 
    envolva todo o texto e aplicarei displey flex nela */
}
footer ul{
    /* display: flex; Tirei pois esssa propriedade deixa em linha*/ 
    padding-left: 67px;
}
footer ul li{
    list-style-type: none;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    
}
.logo-footer{
    width: 135px; /* Uso o width para não distorcer a imagem*/
    /* height: 100px; */
    float: left;
}

.texto-footer{
    display: flex;
    padding-top: 20px;
}
.icon-redes{
    padding-left: 226px;
}
.icon-redes img{
    padding-left: 16px;
    width: 50px;
    height: 50px;
}
footer ul{
    /* display: flex; Tirei pois esssa propriedade deixa em linha*/ 
    padding-left: 67px;
}
footer ul li{
    list-style-type: none;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    
}
footer ul li a{
    color: white;
    text-decoration: none;
}

