*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* //////////////////////Nav////////////////////// */

nav{
    height: 76px;
    background-color: #6dc8f3;
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav h1{
    font-family: 'Amaranth', sans-serif;
    font-size: 35px;
    padding: 10px 0px 0px 3px;
    color: white;
}

nav ul{
    padding: 26px 15px;
}

nav ul li{
    color: white;
    display: inline;
    list-style-type: none;
    margin-left: 24px;
    font-size: 17px;
    font-weight: bold;
}

.logo{
    width: 75px;
    height: 75px;
    margin-left: 37px;

}

a{
    text-decoration: none;
    color: white;
}
.logotipo{
    display: flex;
}
/* .navegacao{
    display: flex;
    justify-content: flex-end;
} */

/* //////////////////////HEADER////////////////////// */

header{
    padding-top: 87px;
    background-image: url('../img/cidade_cel.jpg'); 
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: block;
}


.slogan{
    color: black;
    font-size: 60px;
    padding-top: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.botoes-header{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: flex-end;
    height: 443px;
}


.btn{
    padding: 15px 10px;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-verde{
    background-color: #1ed954;
    width: 310px;
    border: none;
    
}

.btn-branco{
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px royalblue;
    color: royalblue;
    width: 310px;
}
